<% provide(:title, "About") %>
<h1>Agendamento Bilio Paulista</h1>
<p>
  O My Turn <a href="https://biliopaulista.herokuapp.com/"><em> é um aplicativo para agendamento 
  de entregas que busca o equilibrio de entregas diárias.
  Leva em consideração o tipo de carga, a quantidade de trabalhadores, quanto a paletização ou não,
  ao tipo de armazenamento.
</p>
