<% provide(:title, "About") %>
<h1>Agendamento Bilio Paulista</h1>
<p>
  O My Turn é um aplicativo para agendamento de entregas que busca o equilibrio de entregas diárias.
  Leva em consideração o tipo de carga, a quantidade de trabalhadores, quanto a paletização ou não e o tipo de armazenamento.
</p>
