<div class="center jumbotron">
  <h1>Bem-vindo </h1>

  <h2>
    Esse é o site para fazer o agendamento de entregas na 
    <a href="https://biliopaulista.herokuapp.com/">Bilio Estivas Paulista</a>
    .
  </h2>

  <%= link_to "Cadastre-se agora!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("Logo_Bilio2.jpg", alt: "Logo_Bilio2"),
            's17.postimg.org/ummylysdb' %>

