<div class="panel panel-default">
  <div class="panel-heading" id="painel_list"><div class="text-center">Forncedor<p id="notice"><%= notice %></p></div></div>
    <div id="painel_body" class="paine-body">
    
      <div class="row">
        <div class="col-md-6">
          <strong>Razão Social:</strong>
          <ul class="list-group">
            <li class="list-group-item"><%= @empresa.razaosocial %></li>
          </ul>
        </div>
        <div class="col-md-6">
          <strong>Cnpj</strong>
          <ul class="list-group">
            <li class="list-group-item"><%= @empresa.cnpj %></li>
          </ul>
        </div>
      </div>
      
      <div class="col-md-6">
            <div class="pull-left">
              <div class="text-center"> <%= link_to 'Voltar', fornecedor_path,  {:style=>'color:black;', :class => "btn btn-default"} %> </div>
              </div>
            </div>
      </div>
      
  </div>
</div>