<div class="panel panel-default">
 <div class="panel-heading" id="painel_list"><div class="text-center">Editar Agendamentos</div></div>
  <div id="painel_body" class="paine-body">

    <%= render 'form', agendamento: @agendamento %>
    <%= link_to 'Mostrar', @agendamento %> |
    <%= link_to 'Voltar', agendamentos_path %>
  </div>
 </div>
</div>
