<div class="panel panel-default">
 <div class="panel-heading" id="painel_list"><div class="text-center"><h1>Novo Agendamento</h1></div></div>
  <div id="painel_body" class="paine-body">

    <%= render 'form', agendamento: @agendamento %>
    <div class="text-center"><%= link_to 'Back', agendamentos_path ,  {:style=>'color:black;', :class => "btn btn-default"} %> </div>
  </div>
 </div>
</div>