<% provide(:title, "Criar novo tipo de armazenamento") %>
<h1>Novo tipo de armazenamento</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:tipoarmazenamentos, url: new_tipoarmazenamento_path) do |f| %>
    
      <%= f.label :descricao %>
      <%= f.descricao_field :descricao, class: 'form-control' %>
      
    <div class="text-center" id="buttons_show">
      <div class="row">
        <div class="col-md-12">
          <div class="pull-right">
            <div class="text-center"> <%= link_to 'Voltar', tipoarmazenamentos_path,  {:style=>'color:black;', :class => "btn btn-default"} %> </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>

