<h1>Agendamento Bilio Paulista</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Bem-vindo ao site de agendamento de entrega da Bilio Paulista! Clique no link abaixo para ativar sua conta:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>